
/* Header Container */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}

.logo {
    height: 2.2rem;
}

/* Nav */

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.4rem;
}


.logout--btn {
    background-color: #1f6fe5;
    color: #fff;
}

.logout--btn:hover,
.logout--btn:active {
    background-color: #014989;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #1f6fe5;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #014989;
  text-decoration: underline;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  /* last link "call-to-action" extra styling for effect */
  padding: 1.2rem 2.4rem;
  border-radius: 24px;
  color: #1f6fe5;
  border: #1f6fe5 solid;
  text-decoration: none;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  border: #014989 solid;
  color: #014989;
  /* background-color: #999; */
  background: rgba(153, 153, 153, 0.1)
}
