/* appointment form */
.section-create-appointment{
    padding: 9.6rem 0;
}

.appointment-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-img-container img {
    width: 50rem;
    height: 50rem;
    border-radius: 9px;
    object-fit: cover;
}

.appointment-form-calendar {
    border-radius: 10px;
}

.appointment-update-current-info{
    margin-bottom: 8px;
}



/* No appts view */

.section-no-appts{
    padding: 4.8rem 0 9.6rem 0;
    background-color: #014989;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-appts-container {
/* does not appear needed */
}

.no-appts-header{
    color: #fff;
}

.no-appts-img {
    height: 25rem;
    width: 40rem;
    border-radius: 10px;
    object-fit: cover;
}
